langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
langchain-huggingface
chromadb
sentence-transformers==2.7.0
python-dotenv
torch
transformers==4.40.2
PyMuPDF
rank-bm25
pymupdf
uvicorn
fastapi
numpy
pydantic
pydantic_core
pydantic-settings
huggingface-hub
graphrag
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
tqdm
pandas